
# Source Map
*.map

# Logs
logs
*.log

# Coverage directory used by tools like istanbul
coverage

# Dependency directory
node_modules

# Debug log from npm
npm-debug.log

# OS X
Icon
Thumbs.db
.DS_Store
